@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;

}


/*nav Styles*/

.logo-color{
color: #FD6E0A;
}

.dark-2{
  color: #474747;
}
nav {
  display: flex;
}

.nav-title{
  font-weight: 800px;
  font-size: 30px;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  font size: 20px
  color:#474747 ;
}